#define MEA_I_IN 3000
#define MEA_V_IN 3004
#define MEA_I_OUT 3008
#define MEA_V_OUT 3012
#define MEA_W_IN 3016
#define MEA_W_OUT 3020
#define MEA_P_IN 3024
#define MEA_Tb1 3028
#define MEA_Tb2 3032
#define MEA_Tpfc 3036
#define MEA_Tpfc_b 3040
#define MEA_Light 3044
#define MEA_F_m 3048
#define MEA_PWM_m 3052
#define MEA_I_U_m 3056
#define MEA_Ph_I 3060
#define MEA_ei 3064
#define MEA_acc_i 3068
#define MEA_PID_out 3072
#define MEA_STATUS 3076
#define ASK_CURR 1001
#define ASK_PERM 1002
#define SET_CURR 1004
#define SET_PERM 1003
#define SLIDERFREQ 1048
#define SLIDERAMPL 1049
#define SLIDERSEND 1050
#define SET_CB_I_LOOP 1031
#define SET_CB_I_LOOP_B 1032
#define SET_CB_I_PROFILE 1034
#define SET_CB_I_PROFILE_WRITE 1033
#define SET_CB_I_PROFILE_DEFAULT 1035
#define LASTTYPE 1047
#define SET_TIME_STAMP 2000
#define SET_FREQUANCY 2001
#define SET_WAVEFORM 2002
#define SET_PWM 2003
#define SET_I_U 2004
#define SET_MEAN_OUT_ILIM 2005
#define SET_PULSE_OUT_ILIM 2006
#define SET_VOUT_LIM 2007
#define SET_VIN_OV_LIM 2008
#define SET_VIN_UV_LIM 2009
#define SET_IIN_OC_LIM 2010
#define SET_IOUT_OC_LIM 2011
#define SET_OT1_LIM 2012
#define SET_OT2_LIM 2013
#define SET_PFC_T_INDUCTOR_LIM 2014
#define SET_PFC_T_BRIDGE_LIM 2015
#define SET_SS_PWM 2016
#define SET_SS_FREQ 2017
#define SET_SS_CURR 2018
#define SET_T_PID_LSB 2019
#define SET_T_PID_MSB 2020
#define SET_KI_PID 2021
#define SET_KP_PID 2022
#define SET_KD_PID 2023
#define SET_TI_LSB 2024
#define SET_TI_MSB 2025
#define SET_ThH1 2026
#define SET_ThH2 2027
#define SET_Kerr 2028
#define IDC_STC1 1008
#define IDC_STC2 1009
#define MEA_reserve 1090
#define SET_CB_F_SCAN 1010
#define SET_CB_F_LOOP 1011
#define MEA_CB_reserve 1005

#include <windows.h>
#include "WatHack.h"

BASE_SET DIALOGEX 80,1,669,102
CAPTION "Основные настройки"
FONT 8,"Helv",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_THICKFRAME|WS_MINIMIZEBOX|WS_MAXIMIZEBOX|DS_MODALFRAME
BEGIN
  CONTROL "Запросить текущие",ASK_CURR,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_MULTILINE,9,6,54,21
  CONTROL "Запросить зашитые",ASK_PERM,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_MULTILINE,78,6,54,21
  CONTROL "Выставить текущие",SET_CURR,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_MULTILINE,9,30,54,21
  CONTROL "Зашить",SET_PERM,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_MULTILINE,78,30,54,21
  CONTROL "",SLIDERFREQ,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE,159,54,165,12
  CONTROL "",SLIDERAMPL,"msctls_trackbar32",WS_CHILDWINDOW|WS_VISIBLE,324,54,165,12
  CONTROL "Auto-send",SLIDERSEND,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,492,57,45,9
  CONTROL "I loop on",SET_CB_I_LOOP,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,138,78,42,9
  CONTROL "I Br loop on",SET_CB_I_LOOP_B,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,180,78,48,9
  CONTROL "I_PROFILE",SET_CB_I_PROFILE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,300,78,51,9
  CONTROL "I_PROFILE_WRITE",SET_CB_I_PROFILE_WRITE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,354,78,81,9
  CONTROL "I_PROFILE_DEFAULT",SET_CB_I_PROFILE_DEFAULT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,438,78,84,9
  CONTROL "В этот сеанс работы с прибора ещё не было принято настроек.",LASTTYPE,"Static",WS_CHILDWINDOW|WS_VISIBLE,135,90,477,9
  CONTROL "TIME_STAMP        ",SET_TIME_STAMP,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,153,9,30,15
  CONTROL "FREQUANCY         ",SET_FREQUANCY,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,186,9,30,15
  CONTROL "WAVEFORM          ",SET_WAVEFORM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,219,9,30,15
  CONTROL "PWM               ",SET_PWM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,252,9,30,15
  CONTROL "I_U               ",SET_I_U,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,285,9,30,15
  CONTROL "MEAN_OUT_ILIM     ",SET_MEAN_OUT_ILIM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,318,9,30,15
  CONTROL "PULSE_OUT_ILIM    ",SET_PULSE_OUT_ILIM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,351,9,30,15
  CONTROL "VOUT_LIM          ",SET_VOUT_LIM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,384,9,30,15
  CONTROL "VIN_OV_LIM        ",SET_VIN_OV_LIM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,417,9,30,15
  CONTROL "VIN_UV_LIM        ",SET_VIN_UV_LIM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,450,9,30,15
  CONTROL "IIN_OC_LIM        ",SET_IIN_OC_LIM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,483,9,30,15
  CONTROL "IOUT_OC_LIM       ",SET_IOUT_OC_LIM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,516,9,30,15
  CONTROL "OT1_LIM           ",SET_OT1_LIM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,549,9,30,15
  CONTROL "OT2_LIM           ",SET_OT2_LIM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,582,9,30,15
  CONTROL "PFC_T_INDUCTOR_LIM",SET_PFC_T_INDUCTOR_LIM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,615,9,30,15
  CONTROL "PFC_T_BRIDGE_LIM  ",SET_PFC_T_BRIDGE_LIM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,153,33,30,15
  CONTROL "SS_PWM            ",SET_SS_PWM,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,186,33,30,15
  CONTROL "SS_FREQ           ",SET_SS_FREQ,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,219,33,30,15
  CONTROL "SS_CURR           ",SET_SS_CURR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,252,33,30,15
  CONTROL "T_PID_LSB         ",SET_T_PID_LSB,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,285,33,30,15
  CONTROL "T_PID_MSB         ",SET_T_PID_MSB,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,318,33,30,15
  CONTROL "KI_PID            ",SET_KI_PID,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,351,33,30,15
  CONTROL "KP_PID            ",SET_KP_PID,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,384,33,30,15
  CONTROL "KD_PID            ",SET_KD_PID,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,417,33,30,15
  CONTROL "TI_LSB            ",SET_TI_LSB,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,450,33,30,15
  CONTROL "TI_MSB            ",SET_TI_MSB,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,483,33,30,15
  CONTROL "ThH1              ",SET_ThH1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,516,33,30,15
  CONTROL "ThH2              ",SET_ThH2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,549,33,30,15
  CONTROL "Kerr              ",SET_Kerr,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,582,33,30,15
  CONTROL "TimeSt     Freq           WForm     PWM       I_U         MOutILim   POutILim   VOutLim  VInOVLim VInUVLim IInOCLim IOutOCLim OT1Lim   OT2Lim    PFC_T_Ind_Lim",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,153,0,528,9
  CONTROL "PFC_T_Br_Lim SS_PWM SS_FREQ SS_CURR T_PID_LSB / MSB  KI_PID    KP_PID    KD_PID   TI_LSB  /  MSB        ThH1         ThH2       Kerr        ",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,135,24,480,9
  CONTROL "00000",MEA_reserve,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,690,159,9,15,WS_EX_CLIENTEDGE
  CONTROL "F_SCAN",SET_CB_F_SCAN,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,525,78,84,9
  CONTROL "F loop on",SET_CB_F_LOOP,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTO3STATE,231,78,48,9
  CONTROL "Reserved",MEA_CB_reserve,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|BS_AUTOCHECKBOX,45,114,54,9
END

