#ifndef IDOK
  #define IDOK 1
#endif
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif
#define MCU_IP 1001
#define MCU_PORT 1002
#define IDC_STC1 1003
#define IDC_STC2 1004
#define MCU_SID 1005
#define IDC_STC3 1006
#define MCU_MST_IP 1007
#define MCU_MST_PORT 1008
#define PC_SID 1009
#define UPSERVER 1010
#define SET_TO 1011
#define TIMEOUT 1012

#define PRBAR 1000
#define PBARSTATE 1001
#define PBARABORT 1002


#include <windows.h>
#include "WatHack.h"

FWORK DIALOGEX 1,1,117,135
CAPTION "Framework"
FONT 8,"Helv",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW|DS_MODALFRAME
BEGIN
  CONTROL "OK",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,3,81,54,12
  CONTROL "CANCEL",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,57,81,60,12
  CONTROL "192.168.4.1",MCU_IP,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,3,3,54,15,WS_EX_CLIENTEDGE
  CONTROL "502",MCU_PORT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,3,27,54,15,WS_EX_CLIENTEDGE
  CONTROL "MCU port:           PC port:",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,18,108,9
  CONTROL "Slave ID:            PC Slave ID:",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,6,42,102,9
  CONTROL "7",MCU_SID,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,3,51,54,15,WS_EX_CLIENTEDGE
  CONTROL "Переоткрывать пока не научил! Нельзя нажимать OK второй раз, надо перезапустить весь фрейм. Поправлю потом.",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE,3,96,114,36
  CONTROL "192.168.4.1",MCU_MST_IP,"Edit",NOT WS_VISIBLE|WS_CHILDWINDOW|WS_DISABLED|WS_TABSTOP,75,-3,54,15,WS_EX_CLIENTEDGE
  CONTROL "502",MCU_MST_PORT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,60,27,54,15,WS_EX_CLIENTEDGE
  CONTROL "7",PC_SID,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,60,51,54,15,WS_EX_CLIENTEDGE
  CONTROL "FWUp Mode",UPSERVER,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,63,6,54,9
  CONTROL "Set Timeout = ",SET_TO,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,3,66,54,15
  CONTROL "5000000",TIMEOUT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,60,66,54,15,WS_EX_CLIENTEDGE
END

PROGBAR DIALOGEX 10,10,75,48
CAPTION "Progress..."
FONT 8,"Helv",0,0,0
STYLE WS_VISIBLE|WS_CAPTION
BEGIN
  CONTROL "%      completed",PBARSTATE,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,9,60,9
  CONTROL "Abort",PBARABORT,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,12,27,54,15
END
