#define MEA_I_IN 3000
#define MEA_V_IN 3004
#define MEA_I_OUT 3008
#define MEA_V_OUT 3012
#define MEA_W_IN 3016
#define MEA_W_OUT 3020
#define MEA_P_IN 3024
#define MEA_Tb1 3028
#define MEA_Tb2 3032
#define MEA_Tpfc 3036
#define MEA_Tpfc_b 3040
#define MEA_Light 3044
#define MEA_F_m 3048
#define MEA_PWM_m 3052
#define MEA_I_U_m 3056
#define MEA_Ph_I 3060
#define MEA_ei 3064
#define MEA_acc_i 3068
#define MEA_PID_out 3072
#define MEA_STATUS 3076
#define IDC_STC4 1020
#define IDC_STC7 1084
#define MEA_FAULTS_GRAPH_MIN 1071
#define MEA_FAULTS_GRAPH_MAX 1079
#define MEA_FAULTS_GRAPH_COLOR 1070
#define RESIZE 1085
#define IDC_STC6 1046
#define MEA_ADC_TIMESTAMP 1045
#define MEA_FAULTS 1025
#define STEP 1007
#define IDC_STC8 1089
#define MEA_reserve 1090
#define MEA_I_IN_GRAPH_MIN 3001
#define MEA_I_IN_GRAPH_MAX 3002
#define MEA_I_IN_GRAPH_COLOR 3003
#define MEA_V_IN_GRAPH_MIN 3005
#define MEA_V_IN_GRAPH_MAX 3006
#define MEA_V_IN_GRAPH_COLOR 3007
#define MEA_I_OUT_GRAPH_MIN 3009
#define MEA_I_OUT_GRAPH_MAX 3010
#define MEA_I_OUT_GRAPH_COLOR 3011
#define MEA_V_OUT_GRAPH_MIN 3013
#define MEA_V_OUT_GRAPH_MAX 3014
#define MEA_V_OUT_GRAPH_COLOR 3015
#define MEA_W_IN_GRAPH_MIN 3017
#define MEA_W_IN_GRAPH_MAX 3018
#define MEA_W_IN_GRAPH_COLOR 3019
#define MEA_W_OUT_GRAPH_MIN 3021
#define MEA_W_OUT_GRAPH_MAX 3022
#define MEA_W_OUT_GRAPH_COLOR 3023
#define MEA_P_IN_GRAPH_MIN 3025
#define MEA_P_IN_GRAPH_MAX 3026
#define MEA_P_IN_GRAPH_COLOR 3027
#define MEA_Tb1_GRAPH_MIN 3029
#define MEA_Tb1_GRAPH_MAX 3030
#define MEA_Tb1_GRAPH_COLOR 3031
#define MEA_Tb2_GRAPH_MIN 3033
#define MEA_Tb2_GRAPH_MAX 3034
#define MEA_Tb2_GRAPH_COLOR 3035
#define MEA_Tpfc_GRAPH_MIN 3037
#define MEA_Tpfc_GRAPH_MAX 3038
#define MEA_Tpfc_GRAPH_COLOR 3039
#define MEA_Tpfc_b_GRAPH_MIN 3041
#define MEA_Tpfc_b_GRAPH_MAX 3042
#define MEA_Tpfc_b_GRAPH_COLOR 3043
#define MEA_Light_GRAPH_MIN 3045
#define MEA_Light_GRAPH_MAX 3046
#define MEA_Light_GRAPH_COLOR 3047
#define MEA_F_m_GRAPH_MIN 3049
#define MEA_F_m_GRAPH_MAX 3050
#define MEA_F_m_GRAPH_COLOR 3051
#define MEA_PWM_m_GRAPH_MIN 3053
#define MEA_PWM_m_GRAPH_MAX 3054
#define MEA_PWM_m_GRAPH_COLOR 3055
#define MEA_I_U_m_GRAPH_MIN 3057
#define MEA_I_U_m_GRAPH_MAX 3058
#define MEA_I_U_m_GRAPH_COLOR 3059
#define MEA_Ph_I_GRAPH_MIN 3061
#define MEA_Ph_I_GRAPH_MAX 3062
#define MEA_Ph_I_GRAPH_COLOR 3063
#define MEA_ei_GRAPH_MIN 3065
#define MEA_ei_GRAPH_MAX 3066
#define MEA_ei_GRAPH_COLOR 3067
#define MEA_acc_i_GRAPH_MIN 3069
#define MEA_acc_i_GRAPH_MAX 3070
#define MEA_acc_i_GRAPH_COLOR 3071
#define MEA_PID_out_GRAPH_MIN 3073
#define MEA_PID_out_GRAPH_MAX 3074
#define MEA_PID_out_GRAPH_COLOR 3075
#define MEA_STATUS_GRAPH_MIN 3077
#define MEA_STATUS_GRAPH_MAX 3078
#define MEA_STATUS_GRAPH_COLOR 3079

#include <windows.h>
#include "WatHack.h"

LOG_GRA DIALOGEX -33,-483900,534,237
CAPTION "Ведомый плагин логов: графики"
FONT 8,"Helv",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_THICKFRAME|WS_MINIMIZEBOX|WS_MAXIMIZEBOX|DS_MODALFRAME
BEGIN
  CONTROL "   I In             V In            I Out         V Out           W In        W Out          P In          T B1           T B2        T pfc",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE,57,3,357,9
  CONTROL "Graph Min/Max:       Graph color:",IDC_STC7,"Static",WS_CHILDWINDOW|WS_VISIBLE,3,15,51,18
  CONTROL "0",MEA_FAULTS_GRAPH_MIN,"Edit",NOT WS_VISIBLE|WS_CHILDWINDOW|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,459,45,12,13
  CONTROL "10",MEA_FAULTS_GRAPH_MAX,"Edit",NOT WS_VISIBLE|WS_CHILDWINDOW|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,471,45,24,13
  CONTROL "#FFFF00",MEA_FAULTS_GRAPH_COLOR,"Edit",NOT WS_VISIBLE|WS_CHILDWINDOW|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,459,57,36,13
  CONTROL "Redraw",RESIZE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,462,9,48,15
  CONTROL "Timestamp:",IDC_STC6,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,42,42,9
  CONTROL "00000",MEA_ADC_TIMESTAMP,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|ES_AUTOHSCROLL,18,51,30,15,WS_EX_CLIENTEDGE
  CONTROL "00000",MEA_FAULTS,"Button",NOT WS_VISIBLE|WS_CHILDWINDOW|WS_TABSTOP|BS_AUTO3STATE,462,33,42,9
  CONTROL "0.5",STEP,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,426,9,30,15
  CONTROL "T pfc b         Light            F m         PWM m       I U m           Ph I             ei             acc i        PID out     STATUS",IDC_STC8,"Static",WS_CHILDWINDOW|WS_VISIBLE,54,39,360,9
  CONTROL "00000",MEA_reserve,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,690,159,9,15,WS_EX_CLIENTEDGE
  CONTROL "0",MEA_I_IN_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,54,12,12,13
  CONTROL "256",MEA_I_IN_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,66,12,24,13
  CONTROL "#FFFFFF",MEA_I_IN_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,54,24,36,13
  CONTROL "0",MEA_V_IN_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,90,12,12,13
  CONTROL "256",MEA_V_IN_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,102,12,24,13
  CONTROL "#FFFFFF",MEA_V_IN_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,90,24,36,13
  CONTROL "0",MEA_I_OUT_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,126,12,12,13
  CONTROL "256",MEA_I_OUT_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,138,12,24,13
  CONTROL "#FFFFFF",MEA_I_OUT_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,126,24,36,13
  CONTROL "0",MEA_V_OUT_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,162,12,12,13
  CONTROL "256",MEA_V_OUT_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,174,12,24,13
  CONTROL "#FFFFFF",MEA_V_OUT_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,162,24,36,13
  CONTROL "0",MEA_W_IN_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,198,12,12,13
  CONTROL "256",MEA_W_IN_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,210,12,24,13
  CONTROL "#FFFFFF",MEA_W_IN_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,198,24,36,13
  CONTROL "0",MEA_W_OUT_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,234,12,12,13
  CONTROL "256",MEA_W_OUT_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,246,12,24,13
  CONTROL "#FFFFFF",MEA_W_OUT_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,234,24,36,13
  CONTROL "0",MEA_P_IN_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,270,12,12,13
  CONTROL "256",MEA_P_IN_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,282,12,24,13
  CONTROL "#FFFFFF",MEA_P_IN_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,270,24,36,13
  CONTROL "0",MEA_Tb1_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,306,12,12,13
  CONTROL "256",MEA_Tb1_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,318,12,24,13
  CONTROL "#FFFFFF",MEA_Tb1_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,306,24,36,13
  CONTROL "0",MEA_Tb2_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,342,12,12,13
  CONTROL "256",MEA_Tb2_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,354,12,24,13
  CONTROL "#FFFFFF",MEA_Tb2_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,342,24,36,13
  CONTROL "0",MEA_Tpfc_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,378,12,12,13
  CONTROL "256",MEA_Tpfc_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,390,12,24,13
  CONTROL "#FFFFFF",MEA_Tpfc_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,378,24,36,13
  CONTROL "0",MEA_Tpfc_b_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,54,48,12,13
  CONTROL "256",MEA_Tpfc_b_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,66,48,24,13
  CONTROL "#FFFFFF",MEA_Tpfc_b_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,54,60,36,13
  CONTROL "0",MEA_Light_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,90,48,12,13
  CONTROL "256",MEA_Light_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,102,48,24,13
  CONTROL "#FFFFFF",MEA_Light_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,90,60,36,13
  CONTROL "0",MEA_F_m_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,126,48,12,13
  CONTROL "256",MEA_F_m_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,138,48,24,13
  CONTROL "#FFFFFF",MEA_F_m_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,126,60,36,13
  CONTROL "0",MEA_PWM_m_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,162,48,12,13
  CONTROL "256",MEA_PWM_m_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,174,48,24,13
  CONTROL "#FFFFFF",MEA_PWM_m_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,162,60,36,13
  CONTROL "0",MEA_I_U_m_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,198,48,12,13
  CONTROL "256",MEA_I_U_m_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,210,48,24,13
  CONTROL "#FFFFFF",MEA_I_U_m_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,198,60,36,13
  CONTROL "0",MEA_Ph_I_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,234,48,12,13
  CONTROL "256",MEA_Ph_I_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,246,48,24,13
  CONTROL "#FFFFFF",MEA_Ph_I_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,234,60,36,13
  CONTROL "0",MEA_ei_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,270,48,12,13
  CONTROL "256",MEA_ei_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,282,48,24,13
  CONTROL "#FFFFFF",MEA_ei_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,270,60,36,13
  CONTROL "0",MEA_acc_i_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,306,48,12,13
  CONTROL "256",MEA_acc_i_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,318,48,24,13
  CONTROL "#FFFFFF",MEA_acc_i_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,306,60,36,13
  CONTROL "0",MEA_PID_out_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,342,48,12,13
  CONTROL "256",MEA_PID_out_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,354,48,24,13
  CONTROL "#FFFFFF",MEA_PID_out_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,342,60,36,13
  CONTROL "0",MEA_STATUS_GRAPH_MIN,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,378,48,12,13
  CONTROL "256",MEA_STATUS_GRAPH_MAX,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,390,48,24,13
  CONTROL "#FFFFFF",MEA_STATUS_GRAPH_COLOR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|ES_AUTOHSCROLL,378,60,36,13
END

